{% extends 'base_article.html.twig' %}

{% block main %}
    <h1>Créer un article</h1>
    {{ form_start(articleFormView) }}

    <div class="mb-3">
        <div class="text-danger">
        {{ form_errors(articleFormView.title) }}
        </div>
        {{ form_label(articleFormView.title, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleFormView.title, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        <div class="text-danger">
            {{ form_errors(articleFormView.content) }}
        </div>
        {{ form_label(articleFormView.content, 'Contenu', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleFormView.content, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(articleFormView.image, 'Image', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleFormView.image, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        <div class="text-danger">
            {{ form_errors(articleFormView.category) }}
        </div>
        {{ form_label(articleFormView.category, 'Category', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleFormView.category, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        <div class="text-danger">
            {{ form_errors(articleFormView.createdAt) }}
        </div>
        {{ form_label(articleFormView.createdAt, 'Créer le', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleFormView.createdAt, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(articleFormView.isPublished, 'Pour publier l\'article coché cette case', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleFormView.isPublished, {'attr': {'class': 'form-check-label'}}) }}
    </div>

    <div class="mb-3">
        {{ form_widget(articleFormView.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>

    {{ form_end(articleFormView) }}

{% endblock main %}